<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="InvScanApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <InvScanApp.Properties.Settings>
            <setting name="dbServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="strEmailUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="strEmailPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="strSMTPClient" serializeAs="String">
                <value />
            </setting>
            <setting name="strToEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="strSMTPPort" serializeAs="String">
                <value />
            </setting>
            <setting name="blnSSL" serializeAs="String">
                <value>False</value>
            </setting>
        </InvScanApp.Properties.Settings>
    </userSettings>
</configuration>